Docs/CaramellaCiTiCertificate.pdf
Code/app/database.db
Code/app/venv/
Code/app/.idea/
Code/app/__pycache__/
Code/app/database.db
Code/app/database.db
Data/VAP_DeID_2022-01-12 from CTSI.xlsx
Data/.ipynb_checkpoints/